<div id="content">
  <!-- Title and Misc -->
  <h2><a>
    <span class="logo_1 logo"></span>
    <span class="logo_2 logo"></span>
    <span class="logo_3 logo"></span>
    <span class="logo_4 logo"></span>
    <span class="logo_5 logo"></span>
    </a> Discover
  </h2>

  <div class="row discover-row">
    <div class="span6">
      <a href="#/topic/Sport"><div id="discover-sport" class="discover-category half"><span>Sports</span></div></a>
      <a href="#/topic/Technology"><div id="discover-tech" class="discover-category half"><span>Technology</span></div> </a>
    </div>
    <div class="span6">
      <a href="#/topic/Food"><div id="discover-food" class="discover-category"><span>Food</span></div>
    </div></a>
  </div>
  <div class="row discover-row">
    <div class="span12">
      <a href="#/topic/Travel"><div id="discover-travel" class="discover-category third-quarter"><span>Travel</span></div></a>
    </div>
  </div>
  <div class="row discover-row">
    <div class="span6"> <a href="#/topic/LifeStyle"><div id="discover-lifestyle" class="discover-category half"><span>Life Style</span></div></a> </div>
    <div class="span6"> <a href="#/topic/Beauty"><div id="discover-beauty" class="discover-category half"><span>Beauty</span></div></a> </div>
  </div>

</div>

