<div class="row-fluid">
  <div id ="side-container" class="span2 sub-container">
    <div id="side-menu" class="sidebar-nav">

      <!-- FB-like Slide Menu-->
      <div id="main-feeds">
        <ul class="nav nav-list">
          <li> <a href="#/home"> Home </a> </li>
          <li> <a href="#/recommendation"> Recommendation </a> </li>
          <li> <a href='#/manage'> Manage </a> </li>
        </ul>
      </div>

      <div id="user-feeds">
        <div ng-repeat="category in allFeeds">
          <ul class="nav nav-list">
            <li class="divider"></li>
            <li class="nav-header"><a href="javascript: void(0)"><strong>{{category.name}}</strong></a></li>
            <li ng-repeat="feed in category.feeds" ng-click="selectFeed(feed)">
              <a ng-href="#/feed/{{feed.id}}"> {{feed.name}} </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <div ng-scrollend="fetchData()" id="content-container" class="span10 sub-container">
    <!-- Main Content Container -->
    <div  id="content" ng-switch="pageName" ng-animate="{enter: 'slide-enter', leave: 'slide-leave'}">
      <div ng-switch-when="home" ng-include="'/assets/templates/feed.html'"></div>
      <div ng-switch-when="recommendation" ng-include="'/assets/templates/feed.html'"></div>
      <div ng-switch-when="feed" ng-include="'/assets/templates/feed.html'"></div>
      <div ng-switch-when="manage" ng-include="'/assets/templates/manage.html'"></div>
    </div>
  </div>
</div>
