
<!-- Title and Misc -->
<h2>
  <a><span class="logo_1"></span><span class="logo_2"></span><span
    class="logo_3"></span><span class="logo_4"></span><span
    class="logo_5"></span></a> Manage Feeds
</h2>

<div class="input-append" id="manage-input-container">
  <select name="manage-newfeed-category" id="manage-newfeed-category" ng-model="manageSelectedCategory" required="required" ng-options="category as category.name for category in allFeeds">
    <option style="display:none" value="">Select a Category</option>
  </select>
  <input id="manage-newfeed-input" type="text" placeholder="Paste the feed URL here!" ng-model="manageFeedURL" ng-trim="true">
  <button id="manage-addfeed-btn" class="btn" type="button" ng-click="addNewFeed(manageSelectedCategory, manageFeedURL)">Add</button>
  <button id="manage-importfeed-btn" class="btn" type="button">Import</button>
</div>

<!--
import subscriptions using Google Takeout
<div id="import-from-file" class="manage-category">
  <div class="manage-action">
    <h3>Import</h3>
  </div>

  The global progress bar
  <div id="progress" class="span6 progress progress-success progress-striped">
    <div class="bar"></div>
  </div>
  <span class="span6 btn btn-success fileinput-button">
    <i class="icon-plus icon-white"></i>
    <span>Select files...</span>
    The file input field used as target for the file upload widget
    <input id="fileupload" type="file" name="files[]" multiple>
  </span>
  The container for the uploaded files
  <div id="files" class="files"></div>
  <br>
</div> -->


<!-- Feed Cards -->
<div class="manage-category" ng-repeat="category in allFeeds">
  <div class="manage-action">
    <h3>{{category.name}}</h3>
    <div class='manage-category-actions'>
      <i class="manage-category-action icon-trash"
        ng-click="deleteCategory(category);"></i> <!--<i
        class="manage-category-action icon-pencil"
        ng-click="editCategory(category);"></i>  <i
        class="manage-category-action icon-plus"
        ng-click="showNewInput(category)"></i> -->
    </div>
  </div>
  <ul class="manage-feeds">
    <li class="manage-feed" ng-repeat="feed in category.feeds">
      <a href="#"> {{feed.name}} </a>
      <i class="manage-feed-action icon-trash" ng-click="deleteUserFeed(category, feed);"></i>
    </li>
  </ul>

</div>
