<div ng-scrollend="fetchData(true)" ng-globalkeydown="keyTriggers($event)"  id="content">
  <!-- Title and Misc -->
  <h2>
    <a>
      <span class="logo_1 logo"></span>
      <span class="logo_2 logo"></span>
      <span class="logo_3 logo"></span>
      <span class="logo_4 logo"></span>
      <span class="logo_5 logo"></span>
    </a>
    Social 
  </h2>

  <ul class="provider-list">
    <li><img src="/assets/images/social/twitter-bird-light-bgs.png">
      <a href="/twitter_login"></a>
    </li>
    <li><img src="/assets/images/social/FB-f-Logo__blue_50.png"><a href="/facebook_login"></a></li>
  </ul>

  <div class="views">
    <div class="input-prepend">
      <span class="add-on">Order:</span>
      <select ng-model="orderRule" ng-change="setOrderRule(orderRule)">
        <option value="popular">Popularity</option>
        <option value="-date">Date</option>
      </select>
    </div>
    <!-- <a><img src="http://b.dryicons.com/images/icon_sets/wysiwyg_sapphire/png/128x128/bulleted_list.png"></a>
    <a><img src="http://c.dryicons.com/images/icon_sets/wysiwyg_sapphire/png/128x128/align_justify.png"></a> -->
  </div>

  <!-- Feed Cards -->
  <div ng-show="article.id == orderedArticles[currentArticleIndex].id || viewMode == 'listMode'" ng-class="{'read': article.read, 'popular{{article.popular}}': true}" class="card expanded" ng-repeat="article in (orderedArticles = (selectedFeed.articles | orderBy:orderRule))" ng-animate="animationMode">
    <div class="media-body-text-only pull-left">
      <h4 class="media-heading"><!-- ☆ -->
        <a ng-href="{{article.link}}" rel="external" target="_blank"> {{article.title}} </a>
      </h4>
      <span class="info">
        <span class="date">{{article.date | prettyDate}}</span>
        <span class="author">by <a>{{article.author}}</a></span>
        <span class="from">from <a>{{article.feedName}}</a></span>
      </span>
      <p>
        <div class="article-summary">{{article.summary}}</div>
        <div class="article-description">
          <div class="article-text" ng-bind-html-unsafe="article.description"></div>
          <ul class="dupArticles">
            <li ng-repeat="dupArticle in article.duplicates" ng-click="replaceArticle(article, dupArticle)" ng-class="popular{{dupArticle.popular}}">
              {{dupArticle.title}} from {{dupArticle.feedName}}
            </li>
          </ul>
        </div>

        <a ng-show="viewMode == 'listMode'" class ="continue-article" ng-click="expandArticle(article)" href="javascript: void(0)"> </a>
      </p>
    </div>
    <div class="clearfix"></div>
  </div>

  <div ng-show="isLoading" class="loading-indicator feed-indicator"><img src="/assets/images/ajax-loader.gif"> Loading </div>
  <div ng-show="isEndOfFeed" class="end-indicator feed-indicator"> End of Feed </div>

</div>
