/* global */
body { padding-top: 40px; }

/* layout related */
#main-container {
  padding-left: 0;
  height: 100%;
  overflow: hidden;
}

#menu-toggle-btn {
  display: block;
  float: left;
  margin-top: 5px;
}

.sub-container {
  max-height: 100%;
  transition: all 300ms ease;
  position: relative;
  overflow-y: hidden;
}

#side-container {
  background-color: #222;
}
#side-container.hidden {
  opacity: 0;
}

/* sidemenu */
#side-menu {
  min-height: 100%;
  background-color: #222;
  margin-top: 2em;
}

#side-menu ul li { text-align: right; }
#side-menu ul li a { color: #ddd; }
#side-menu ul li a:hover, #side-menu ul li:active { background-color: #555; }

#content-container .article-summary.hidden { display: none; }
#content-container .article-description.hidden { display: none; }







/* others */
#user_info{
   color: silver;
}
#user_info>a{
   text-decoration:none;
   color: silver;

}
#user_info img{
   height: 36px;
}
div.card{
  border: 1px solid #AAA;
  margin: 10px;
  padding: 5px 20px;
  border-left: 10px solid black;
}
div.card.read{
  background-color: GhostWhite ;
}
div.card.popular1{ border-left-color: red; }
div.card.popular2{ border-left-color: orange; }
div.card.popular3{ border-left-color: gold; }
div.card.popular4{ border-left-color: greenyellow; }
div.card.popular5{ border-left-color: lightskyblue; }

.card .info{
  color: gray;
  font-size: 85%;
}
.views{
  text-align:right;
  padding-right: 30px;
}
.views img{
  width: 20px;
  height: 20px;
  padding: 2px;
  border: 1px solid lightgray;
}
.card .media-body-text-only{
  width: 100%;
}
.card .media-body{
  width: 80%;
}
.card .image{
  width: 20%;
  text-align: right;
  padding-top: 10px;
  float: left;
}

/* slide menu*/
/*#menu {
  min-height:100%;
}

#menu .collapse-inner {
  overflow: hidden;
}

.menu.collapse {
  float:left;
  height: 100% !important;
  width: auto;
}

menu.collapse.height {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

menu.collapse.width {
  position: relative;
  width: 0;
  overflow: hidden;
  -webkit-transition: width 0.35s ease;
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.35s ease;
}

menu.collapse.in.width {
  width: auto;
}

menu.collapse.in.height {
  height: auto;
}

menu.collapse-inner {
  position: relative;
  width: 250px;
  height: 100%;
}



.main-nav li {
  list-style-type: none;
  padding: 15px
}

.main-nav #misc a{
  padding: 5px;
}

.main-nav a {
  display: block;
  background: linear-gradient(#3E3E3E, #383838);
  border-top: 1px solid #484848;
  border-bottom: 1px solid #2E2E2E;
  padding: 15px;
  color: white;
  &:hover, &:focus {
    background: linear-gradient(#484848, #383838);
  }
}

.main-nav a:hover {
  background: linear-gradient(#484848, #383838);
}
*/
