/* global */
body {
  padding-top: 40px;
  color: #777;
  font-family: sans-serif;
}

/* layout related */
#main-container {
  height: 100%; padding-left: 0;
  background-color: #e6e6e6;
  overflow: hidden;
}

#menu-toggle-btn {
  display: block;
  float: left;
  margin-top: 5px;
}

.sub-container {
  max-height: 100%;
  transition: all 300ms ease;
  position: relative;
  overflow-y: hidden;
}

/* others */
#user_info{
   color: silver;
}
#user_info>a{
   text-decoration:none;
   color: silver;

}
#user_info img{
   height: 36px;
}


/* ====== title bar  ======= */
#titleBar{
  background-color: darkgrey;
}


/* Sky's attemp to make soft UI */



span.logo_1 {
  background: #F36F74;
  margin-top: 15px;
}

span.logo_2 {
  background: #FEAE96;
}

span.logo_3 {
  background: #FEE595;
  margin-top: 15px;
}

span.logo_4 {
  background: #88C6BA;
}

span.logo_5 {
  background: #B2D1F0;
  margin-top: 15px;
}
