@(loginForm: play.api.data.Form[(String,String)], errorMsg: Option[String] = None)(implicit request: play.api.mvc.RequestHeader)

@import helper._
@import securesocial.core.Registry
@import securesocial.core.AuthenticationMethod._
@import securesocial.core.providers.UsernamePasswordProvider.UsernamePassword


<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/welcome.css")'>
<script type="text/javascript" src='@routes.Assets.at("javascripts/libs/jquery-2.0.2.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/welcome.js")'></script>


@main(Messages("securesocial.login.title")) {

    <div class="welcome">
	    <!-- <div class="page-header"></div> -->

	   <!--  @errorMsg.map { msg =>
	        <div class="alert alert-error">
	            @Messages(msg)
	        </div>
	    }

	    @request.flash.get("success").map { msg =>
	        <div class="alert alert-info">
	            @msg
	        </div>
	    }

	    @request.flash.get("error").map { msg =>
	        <div class="alert alert-error">
	            @msg
	        </div>
	    } -->

    <div class="content-wrapper">

        <div class="page page-intro" >
            <div class="content">
                <div class="logo"></div>
                <div class="message">Introducing the most elegant, <br>simple &amp; powerful reader that allows you to read exactly what you need.</div>
            </div>
        </div>

        <div class="page page-create">
            <div class="content">
                <div class="mac">
                    <div class="mac-body">
                        <!-- <div class="mac-video"></div> -->
                    </div>
                </div>
                <div class="message">
                    <div class="caption">Read.</div>
                    <div class="text">Whenever you are at a break of meetings, or in the line waiting for coffee, the hottest news is always ready on the top for a quick peek.</div>
                </div>
            </div>
        </div>

        <div class="page page-discover">
            <div class="content">
                <div class="ipad">
                    <div class="ipad-video"><iframe id="ipad_video" src="" width="100%" height="100%" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe></div>
                </div>
                <div class="message">
                    <div class="caption">And only read.</div>
                    <div class="text">You are not supposed to worry about anything more that your readings. <br/><br/>Having hundreds of unread feeds? <br/>Troubled with articles on duplicated topics? <br/>Don't know what to read first? <br/>Thermo Reader is the answer for all.</div>
                </div>
            </div>
        </div>

        <div class="page page-more">
            <div class="content">
                <div class="item cross">
                    <div class="icon"></div>
                    <div class="caption">Cross-platform</div>
                    <div class="text">Powered by HTML5, mags can be accessed from all modern browsers on many devices.</div>
                </div>
                <div class="item sell">
                    <div class="icon"></div>
                    <div class="caption">Sell mags</div>
                    <div class="text">Easily sell mags through our platform and be supported by your followers.</div>
                </div>
                <div class="item embed">
                    <div class="icon"></div>
                    <div class="caption">Embed</div>
                    <div class="text">Share your mags on social media and use embed code for your site or blog.</div>
                </div>
            </div>
        </div>

        <div class="page page-beta">
            <div class="content">
                <div class="caption">Get Beta.</div>
                <div class="text1">We're in closed beta right now with a limited number of publishers, but we gradually expand our audience. Please, leave your email, and we'll send you an invitation as soon as we can.</div>
                <div class="email">
                    <input class="input" type="email" name="email" placeholder="test" value="">
                    <div class="submit"></div>
                    <div class="after">We've put you on the invite list.</div>
                </div>
                <div class="text2 iphone">You can also <a href="#" target="_blank">drop us an email</a> if you're running a digital magazine and want to get an early access. Join our community on <br><a href="http://facebook.com/readymag/" target="_blank">Facebook</a> and <a href="http://twitter.com/readymag/" target="_blank">Twitter</a>.</div>

                <div class="copyright">Copyright © 2013 Thremo Reader Inc.<br>All rights reserved.</div>
                <a class="hello" href="#" target="_blank">hello.com</a>
            </div>
        </div>

	    <div class="readymag">Thermo Reader</div>
	    <a class="login" href="/authenticate/google">Import from Google Reader</a>
	    <!-- <div class="menu">
	        <ul>
	            <li data-page="create">Create</li>
	            <li data-page="discover">Discover</li>
	            <li data-page="more">More</li>
	            <li data-page="beta">Get Beta</li>
	        </ul>
	    </div> -->
    </div>
</div> <!-- end of welcome-wrapper -->
}
