<html ng-app="thermoReader">
  <head>
    <meta content="width=device-width,minimum-scale=1,maximum-scale=1" name="viewport">

    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/libs/bootstrap.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/libs/perfect-scrollbar.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/thermoreader-sidemenu.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/thermoreader-content.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
    <script src="@routes.Assets.at("javascripts/libs/angular.min-1.1.5.js")"></script>
    <script src="@routes.Assets.at("javascripts/libs/jquery-2.0.2.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/libs/bootstrap.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/libs/perfect-scrollbar.with-mousewheel.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/thermoreader-models.js")"></script>
    <script src="@routes.Assets.at("javascripts/thermoreader-db.js")"></script>
    <script src="@routes.Assets.at("javascripts/thermoreader-controllers.js")"></script>
    <script src="@routes.Assets.at("javascripts/thermoreader-ui.js")"></script>
    <script src="@routes.Assets.at("javascripts/main.js")"></script>
  </head>

  <body>

    <!-- Navigation Bar -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner"><div class="container-fluid"><div class="row-fluid">

        <div class="span12">

          <button id="menu-toggle-btn" type="button" class="btn btn-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <span class="brand">ThermoReader</span>
          <form class="navbar-form pull-left">
            <input type="text" style="height:30px" placeholder="Search">
          </form>

          <!-- <div id="user_info" class="dropdown pull-right">
            <a href="javascript: void(0)" class='dropdown-toggle' data-toggle='dropdown'>
              <span>Username</span>
                <img src="http://png.findicons.com/files/icons/560/fast_icon_users/128/offline_user.png" />
                <b class="caret"></b>
            </a>
            <ul class='dropdown-menu'>
              <li><a tabindex="-1" href="javascript: void(0)">My Account</a></li>
              <li><a tabindex="-1" href="/logout">Log out</a></li>
            </ul>
          </div> -->
          <p class="navbar-text pull-right">
            <a href="https://docs.google.com/forms/d/1sw25-6ufoza1ZMksjoaoPrGw1AZ1mF9w4UTW7aviEoQ/viewform" rel="external" target="_blank"><b>Feedback</b></a>
          </p>
          <div id="theme_change" class="pull-right"> </div>
        </div>

      </div></div></div>
    </div>

    <div id="main-container" ng-controller="mainCtrl" class="container-fluid" ng-view>
    </div>

  </body>
</html>
