<html ng-app="thermoReader">
  <head>
    <meta content="width=device-width,minimum-scale=1,maximum-scale=1" name="viewport">

    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/libs/bootstrap.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/libs/perfect-scrollbar.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/thermoreader-sidemenu.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/thermoreader-content.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
    <script src="@routes.Assets.at("javascripts/libs/angular.min-1.1.5.js")"></script>
    <script src="@routes.Assets.at("javascripts/libs/jquery-2.0.2.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/libs/bootstrap.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/libs/perfect-scrollbar.with-mousewheel.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/thermoreader-models.js")"></script>
    <script src="@routes.Assets.at("javascripts/thermoreader-db.js")"></script>
    <script src="@routes.Assets.at("javascripts/thermoreader-controllers.js")"></script>
    <script src="@routes.Assets.at("javascripts/thermoreader-ui.js")"></script>
    <script src="@routes.Assets.at("javascripts/main.js")"></script>
  </head>

  <body>

    <!-- Navigation Bar -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner"><div class="container-fluid"><div class="row-fluid">

        <div class="span12">

          <button id="menu-toggle-btn" type="button" class="btn btn-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <span class="brand">ThermoReader</span>
          <form class="navbar-form pull-left">
            <input type="text" style="height:30px" placeholder="Search">
          </form>
          <div id="user_info" class="dropdown pull-right">
            <a href='#' class='dropdown-toggle' data-toggle='dropdown'>
              <span>Username</span>
                <!-- <img src="http://png.findicons.com/files/icons/560/fast_icon_users/128/offline_user.png" /> -->
                <b class="caret"></b>
            </a>
            <ul class='dropdown-menu'>
              <li><a tabindex="-1" href="#">My Account</a></li>
              <li><a tabindex="-1" href="/logout">Log out</a></li>
            </ul>
          </div>
        </div>

      </div></div></div>
    </div>


    <div id="main-container" ng-controller="mainCtrl" class="container-fluid"><div class="row-fluid">

      <div id ="side-container" class="span2 sub-container">
        <div id="side-menu" class="sidebar-nav">

          <!-- FB-like Slide Menu-->
          <div id="main-feeds">
            <ul class="nav nav-list">
              <li> <a href="#"> Home </a> </li>
              <li> <a href="#"> Popular </a> </li>
              <li> <a href="#"> Saved </a> </li>
            </ul>
          </div>

          <div id="user-feeds">
            <div ng-repeat="category in allFeeds">
              <ul class="nav nav-list">
                <li class="divider"></li>
                <li class="nav-header"><a href="#"><strong>{{category.name}}</strong></a></li>
                <li ng-repeat="feed in category.feeds" ng-click="selectFeed(feed)">
                  <a href="#"> {{feed.name}} </a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>

      <div id="content-container" class="span10 sub-container">
          <!-- Main Content Container -->
          <div id="content">

            <!-- Title and Misc -->
              <h2><a><span class="logo_1"></span><span class="logo_2"></span><span class="logo_3"></span><span class="logo_4"></span><span class="logo_5"></span></a>
                {{selectedFeed.title}}
              </h2>

              <div class="views">switch view:
                <a><img src="http://b.dryicons.com/images/icon_sets/wysiwyg_sapphire/png/128x128/bulleted_list.png"></a>
                <a><img src="http://c.dryicons.com/images/icon_sets/wysiwyg_sapphire/png/128x128/align_justify.png"></a>
              </div>


            <!-- Feed Cards -->
            <div class="card popular{{article.popular}}" ng-repeat="article in selectedFeed.articles">
              <a class="pull-left" href="#"></a>
                <div class="media-body-text-only pull-left">
                  <h4 class="media-heading">☆
                    <a href="{{article.link}}" rel="external" target="_blank"> {{article.title}} </a>
                  </h4>
                    <span class="info">
                      <span class="date">{{article.date}}</span>
                      <span class="author">by <a>{{article.author}}</a></span>
                      <span class="from">from <a>{{article.feedName}}</a></span>
                    </span>
                    <p>
                      <div class="article-summary">{{article.summary}}</div>
                      <div class="article-description hidden">{{article.description}}</div>
                      <a class ="continue-article" href="#">Continue Reading...</a>
                    </p>
                </div>
              <div class="clearfix"></div>
            </div>

          </div>
      </div>


    </div></div>

  </body>
</html>
